<title>{{ site.title }}</title>

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Responsive Resume Template">
<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.png">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

<!-- FontAwesome JS-->
<script defer src="{{ site.baseurl }}/assets/fontawesome/js/all.min.js"></script>

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/assets/css/pillar-1.css">


  

  


{% include schema.html %}

<!-- Clarity tracking code for https://ahmedsharifkhan.github.io/ahmed-Resume/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "jkge5ebyeg");</script>

