.text-muted {
    color: #070707 !important;
}

html {
    font-family: sans-serif;
}

*,
*::before,
*::after {}

.col {
    background-color: rgb(213, 212, 212);
    padding: 0;
    margin: 0;
}

.text-center.text-left {
    color: rgb(139, 135, 135);
    font-family: Arial;
}